@model List<SharedObjects.ValueObjects.VCategory>
@section Title{
<title>Thêm thể loại</title>
}
@section Breadcrumb{
<li class="breadcrumb-item" aria-current="page"><a asp-action="index" asp-controller="subcategory">Thể loại phụ</a></li>
<li class="breadcrumb-item active" aria-current="page">Thêm thể loại phụ</li>
}
@section SlimPageTitle{
    Thêm mới thể loại phụ
}
@section Script{
<script src="~/js/subcategory.js"></script>
}
<div class="section-wrapper mg-t-20">
    <div class="row">
        <div class="col-md-6">
            <form>
                <p id="hid-id" hidden>@ViewBag.SubCategoryId</p>
                <div class="form-group">
                    <label>Tên thể loại phụ</label>
                    <input class="form-control" id="txt-subcategoryname" name="SubCategoryName" />
                </div>
                <div class="form-group">
                    <label>Mô tả ngắn</label>
                    <input class="form-control" id="txt-description" name="Description" />
                </div>
                <div class="form-group">
                    <label>Thuộc thể loại</label>
                    <select id="categoryname" class="form-control" name="CategoryName">
                        @foreach (var item in Model)
                        {
                            <option value="@item.CategoryId">@item.CategoryName</option>
                        }
                    </select>
                </div>
                <a class="btn btn-success save">Lưu</a>
            </form>
        </div>
    </div>
</div>